body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.game {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.square {
  background: #ffffff;
  border: 1px solid #000;
  font-size: 32px;
  font-weight: bold;
  line-height: 58px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:disabled {
  cursor: default;
  color: #d3d3d3;
}

.restart {
  background-color: #ffffff;
  border: 1px solid #000;
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

h1 {
  margin: 20px 0;
}
